<div class="navbar navbar-fixed-top navbar-inverse" bs-navbar>
  <div class="navbar-inner">
      <ul class="nav">
        <li data-match-route="/"><a href="#/home">Hjem</a></li>
        <li data-match-route="/spillested"><a href="#/spillested">Spillested/overnatting</a></li>
        <li data-match-route="/stjerner"><a href="#/stjerner">Stjerner</a></li>
        <li data-match-route="/paamelding"><a href="#/paamelding">Påmelding</a></li>
        <li data-match-route="/underholdning"><a href="#/underholdning">Underholdning</a></li>
        <li data-match-route="/tidligere"><a href="#/tidligere">Tidligere år</a></li>
      </ul>
  </div>
</div>
