<div class="navbar navbar-fixed-top navbar-inverse" bs-navbar>
  <div class="navbar-inner">
    <div class="container-narrow">
      <ul class="nav">
        <li data-match-route="/"><a href="#/home">Hjem</a></li>
        <li data-match-route="/program"><a href="#/guide">Program</a></li>
        <li data-match-route="/stjerner"><a href="#/guide">Stjerner</a></li>
        <li data-match-route="/paamelding"><a href="#/guide">Påmelding</a></li>
        <li data-match-route="/overnatting"><a href="#/guide">Overnatting</a></li>
        <li data-match-route="/kart"><a href="#/guide">Kart</a></li>
      </ul>
    </div>
  </div>
</div>
