<div class="container-narrow">
  <div class="row-fluid">
    <div>
      <h2>Tidligere år</h2>
    </div>
  </div>
</div>
<section id="about">
    <div class="container-narrow" autoscroll>
        <div class="row-fluid">
            <div class="span7">
                <h3>2012</h3>
                <p>
                    <a href="http://open2012.ruter7.com">Bilder, resultater mm fra 2012.</a>
                </p>
            </div>
            <div class="span5">
                <div class="smallpic"><img src="/img/small/bente.png" alt="Vinner lørdag" /></div>
                <div class="smallpic"><img src="/img/small/sjur.png" alt="Sjur m. makker" /></div>
                <div class="smallpic"><img src="/img/small/sist.png" alt="Sisteplassen" /></div>
            </div>
        </div>
    </div>
</section>
