<section id="about">
    <div class="container-narrow" autoscroll>
        <div class="row-fluid">
            <div class="span7">
                <h3>Underholdning</h3>
                <p>
                    Underholdningen lørdag kveld er booket. 
                    Også i år kommer Sordal og spiller for oss. 
                    Denne gang som trio. 
                </p>
                <p>
                    Stein Roger er kjent fra en rekke musikkprosjekter. Her er to vidoer. 
                    En fra soloprosjektet Sordal og en fra "sommer på torvet" med Radiojam.
                </p>
                <p>
                    <a href="http://www.youtube.com/watch?v=BSmLXSPDEXY">Radiojam LIVE Sommer På Torvet 2010</a>
                </p>
                <p>
                    Radiojam er et av Norges mest populære partyband, og underholdt opp til 3000                
                </p>                
                <p>
                    Lørdagens andre artist er plateaktuelle Egil Skram. 
                    Han har en fantastisk stemme og med litt egenprodusert 
                    og noen oldie goldies skal han være med å lokke bridgespillere ut på dansegulvet.
                </p>
                <p>
                    En liten smakebit finner du her
                    <a href="https://soundcloud.com/karmakosmetix-music/egil-skram-it-aint-right">
                        Egil Skram - It Ain't Right
                    </a>
                </p>
            </div>
            <div class="span5">
                <div class="sponsor">
                    <a href="http://www.personalsjefen.org" alt="Personalsjefen">
                    <img src="/img/small/personalsjefen.png" alt="Sponsor" />
                    </a>
                </div>
                <div class="smallpic"><img src="/img/small/sordal.png" alt="Sordal" /></div>
            </div>
        </div>
    </div>
</section>
